@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=VT323&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Caveat Brush', cursive;
    background-color: rgb(232, 191, 232);

}

p {
    font-size: 30px;
}

#calculator {
    border: 2px solid black;
    height: 600px;
    width: 500px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 2%;
    background-color: black;
}

#display {
    border: 2px solid black;
    height: 200px;
    margin: 0px 10px 0px 19px;

    border-left: 40px;


    border-radius: 2%;

    text-align: end;
    font-size: 100px;

    background-color: lightgreen;
}

#container {
    padding: 0; 
    margin: 0;
    height: 400px;

    display: flex;
    justify-content: stretch;
}

#number-container {
    width: 350px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding-top: 17px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}

#operator-container {
    width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 10px;
}

.number { 
    height: 85px;
    width: 85px;

    border-radius: 4%;

    background-color: white;
}

.number:hover {
    color:grey;
}


#number-container #equal {
    width: 190px;
    background-color: orange;

}

.operator {
    height: 60px;

    border-radius: 4%;
    background-color: orange;
}

.operator:hover {
    color:grey;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}